* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
.container {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-around;
  margin: 0 8%;
  flex-wrap: wrap;
}
.section {
  font-size: 16px;
  width: 266px;
  margin: 0;
  padding: 0;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Overpass", sans-serif;
}
.section-number {
  color: #0ad9c6;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
}
.section-title {
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  margin: 10px;
  margin: 0;
  padding: 0;
}
.section-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7a7a7a;
}
